<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ language }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ language }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let p of data; let i = index">
    <ion-item (click)="presentModal(p)">
      <ion-icon class="play-sentence" onClick="console.log('i')" name="play-circle"></ion-icon> 
      <ion-label>{{p.sentence}}</ion-label> 
      <span class="sp-translation">{{p.translation}}</span>
    </ion-item>
  </ion-list>
  <ion-fab-button color="secondary"><ion-icon name="add"></ion-icon></ion-fab-button>

</ion-content>

